@charset "UTF-8";

/*
    oaleta de cores:
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root {
    --lilas: #5f2c82;
    --verde: #49a09d;
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

main {
    background-color: var(--lilas);
    height: 100vh;
    width: 100vw;
    padding-top: 30px;
}

section#login {
    background-color: white;
    width: 85vw;
    height: 450px;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
}

section > div#formulario > h1{
    margin: auto;
    text-align: center;
    width: 30vw;
}

section > div#formulario > p {
    text-align: justify;
    padding: 5px;
    margin: auto;
    margin-bottom: 8px;
    width: 80vw;
    background-color: orangered;
}

section > div#formulario > form > p {
    background-color: var(--lilas);
    margin: auto;
    width: 80vw;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
}

section > div#formulario > form > p > label {
    padding: 4px;
}

section > div#formulario > form > p > label > span.material-symbols-outlined {
    color: white;
    font-variation-settings: 'FILL' 1;
}

section > div#formulario > form > p > input {
    width: 65vw;
    
    height: 50px;
    border-radius: 20px;
    padding: 5px;
}

section > div#formulario > form > input#btn-acs {
    display: block;
    margin: auto;
    background-color: var(--verde);
    border: none;
    padding: 8px;
    border-radius: 20px;
    width: 80vw;
    height: 50px;
    cursor: pointer;
}

section > div#formulario > form > button {
    display: block;
    margin: auto;
    margin-top: -10px;
    border: 1px solid var(--verde);
    padding: 8px;
    border-radius: 20px;
    width: 80vw;
    height: 50px;
    color: var(--verde);
    cursor: pointer;
}


